        /* ==== CSS ALL UI ==== */
        @font-face {
            font-family: code;
            src: url(/assets/font/CodeNext-Trial-SemiBold.otf);
        }
        @font-face {
            font-family: cool;
            src: url(/assets/font/coolvetica-condensed-rg.otf);
        }

        /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;
            }


        /* ====== Responsive media ======  */

        /* responsive desktop */
        @media screen and (max-width: 1200px) {
            .menu-toogleNavbar{
                opacity: unset !important;
            }
            #dateTime{
                display: none;
            }
        }

        /* For Tablet View */
        @media screen and (min-device-width: 768px)
        and (max-device-width: 1024px) {
            .card-form-dataPribadi .card{
                width: 100% !important;
            }
            
            .btn-public-datapribadi{
                width: 100% !important;
            }
            .card-historyTransaksi{
                width: 100% !important;
            }
        }




        /*===== Responsive Mobile =======*/

/*===== For Mobile Phones Portrait or Landscape View */
    @media screen and (max-device-width: 640px) {
        .card-profile-inputData,
        .card-alamat-InputData{
            display: none;
        }

        .card-profile,
        .card-alamat
        {
            width: 100% !important;
        }

        .search-historyTransaksi,
        .search-statusTransaksi,
        .search-dataPribadi{
            width: 100% !important;
        }



        /* Dashbard */

        .text-dashboard-QRIS{
            font-size: 18px !important;
        }

        .button-dashboard{
            font-size: 14px !important;
        }

        
        .carousel-control-prev{
            display: block !important;
        }

        .carousel-control-next{
            display: block !important;
        }

        .qr-code-dialog{
            margin-top: 30% !important;
        }


        /* Upload Bukti  */

        .container-uploadBukti{
            margin-top: 5% !important;
        }
        .step-uploadBukti{
            margin-top: 10% !important;
        }

        .step-uploadBukti img {
            width: 30%;
        }

        .step-uploadBukti .text-isiBerkas {
            font-size: 15px;
        }

        .button-next span {
            display: none;
        }
        .button-next{
            width: 35% !important;
        }
        
        .card-uploadBukti{
            margin-bottom: 15%;
        }

        /* Card Preview */

        .container-preview{
            margin-top: unset !important;
        }

        .card-preview{
            width: unset !important;
            margin-bottom: unset !important;
            margin-top: unset !important;
        }
        .logo-preview{
            width: 30% !important; 
        }

        .form-preview{
            padding: 12px !important;
        }

        .icon-number {
            margin-top: 15% !important;
        }

        .icon-number img{
            width: 30% !important;
        }

        
        
        /*======= Data Pribadi public ======== */
        .card-profile-public{
            width: 100% !important;
        }
        .card-profile-public img{
            width: 80% !important;
        }
        .btn-public-datapribadi{
            width: 100% !important;
        }

        /* Card History Transaksi */

        .card-historyTransaksi{
            width: 100% !important;
        }

        .btn-historyTransaksi{
            width: 100%;
        }

        .card-total-transaction{
            width: 100% !important;
        }

        .modal-container{
            margin-top: 25%;
        }

        /* Data Pribadi admin */
        .card-image{
            width: unset !important;
        }
        .card-image article {
            display: block !important;
        }
        .container-text h3,h6 {
            text-align: center !important;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        }
        .btn-adminDatapribadi{
            width: 100% !important;
        }

        /* Login */

        .option-login{
            margin-top: 5% !important;
        }


    }




    @media screen and (max-width: 280px) {
        .text-dashboard-QRIS{
            font-size: 10px !important;
        }

        .button-dashboard{
            font-size: 10px !important;
        }
    }



        a {
            text-decoration: unset;
        }

            /* Card Non Border  */
        .none-border {
            border: unset;
            box-shadow: unset;
        }



        /* ==== Dashboard ==== */

            /* Button Dashboard */

            .button-color{
                background-color: #18c42c;
                color: white;
            }
            .button-color:hover{
                background-color: #169e25;
                color: white;
            }

            .button-dashboard {
                /* Variables */
            --button_radius: 0.75em;
            --button_color: #18c42c;
            /* 25a04e */
            --button_outline_color: #000000;
            font-size: 17px;
            font-weight: bold;
            border: none;
            border-radius: var(--button_radius);
            background: var(--button_outline_color);
            }
            
            .button_top {
            display: block;
            box-sizing: border-box;
            border: 2px solid var(--button_outline_color);
            border-radius: var(--button_radius);
            padding: 0.75em 1.5em;
            background: var(--button_color);
            color: var(--button_outline_color);
            transform: translateY(-0.2em);
            transition: transform 0.1s ease;
            }
            
            .button-dashboard:hover .button_top {
                /* Pull the button upwards when hovered */
            transform: translateY(-0.33em);
            }
            
            .button-dashboard:active .button_top {
                /* Push the button downwards when pressed */
            transform: translateY(0);
            }

            
    /* ==== Data Pribadi ==== */
            
        /* icon position */
        .container-icon-edit { position: relative; }
    .container-icon-edit img { display: block; }
    .container-icon-edit .bxs-edit { 
        position: absolute; 
        bottom:10%; 
        left:60%; 
    }



    /* ==== Upload Bukti Bayar ==== */
    .form-upload label{
        color: black;
    }

    /* ==== Preview ==== */

        /* icon-number */
        .icon-number p {
            text-align: center;
            font-family: code;
            padding: 12px;
        }
        
        /* button */
        .button-next {
            cursor: pointer;
            font-weight: 700;
            font-family: Helvetica,"sans-serif";
            transition: all .2s;
            padding: 10px 20px;
            border-radius: 100px;
            background: #18c42c;
            border: 1px solid transparent;
            display: flex;
            align-items: center;
            font-size: 15px;
        }
        
        .button-next:hover {
            background: #18c42c;
        }
        
        .button-next > svg {
            width: 34px;
            margin-left: 10px;
            transition: transform .3s ease-in-out;
        }
        
        .button-next:hover svg {
            transform: translateX(5px);
        }
        
        .button-next:active {
            transform: scale(0.95);
        }
        
        

        
        /* ==== history transaksi ==== */
    .table-history-transaksi th{
        color: black !important;
        font-size: 14px !important;
        
        padding: 12px;
    }
    .table-history-transaksi td{
        color: black !important;
        font-size: 14px !important;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        padding: 12px;
    }
    
    /* ==== status transaksi ==== */
    .table-status-transaksi th{
        color: black !important;
        font-size: 14px !important;
        
        padding: 12px;
    }
    .table-status-transaksi td{
        color: black !important;
        font-size: 14px !important;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        padding: 12px;
    }
    .tr-td{
        background-color: white;
    }
    .tr-td-1{
        background-color: white;
    }
    
    .tr-td:hover{
        background-color: rgba(0, 255, 21, 0.16) !important;
    }
    .tr-td-1:hover{
        background-color: rgba(255, 167, 5, 0.377) !important;
    }
    .no-hp-link{
        color: black;
    }
    .no-hp-link:hover{
        color: rgb(0, 134, 11);
    }